* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(199, 185, 185);
  color: #f2cb05;
  width: 100vw;
}
h1 {
  font-size: 45px;
}
.countriesNumber {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
input {
  width: 60vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 24px;
  border-radius: 20px;
  border: 1px solid gray;
}
.buttonsFlags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40vh;
}

.buttonsFlags button {
  font-size: 24px;
  width: 30%;
  border-radius: 14px;
  background-color: orange;
  border: 0;
}
.buttonsFlags button i {
  font-size: 20px;
}
.buttonsFlags a i {
  font-size: 34px;
  color: orange;
}
.countriesInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1vw 2vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100vw;
  background-color: rgb(199, 185, 185);
  padding: 1vh;
}
.countriesInfo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 10vw;
  height: 25vh;
  text-align: center;
  background-color: rgb(230, 219, 219);
  word-break: break-all;
}
.countriesInfo h1 {
  color: #c7aa19;
  font-size: 22px;
}
.countriesInfo img {
  padding-top: 5px;
  width: 8vw;
  height: 12vh;
  object-fit: fill;
}
.countriesInfo p {
  display: flex;
  width: 8vw;
}
.buttonsGraphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vh;
}
.buttonsGraphs button {
  font-size: 24px;
  width: 30%;
  border-radius: 14px;
  background-color: orange;
  border: 0;
  margin-left: 2vw;
}

.countriesGraphs {
  display: grid;
  width: 100vw;
  background-color: rgb(199, 185, 185);
}
.graph-wrapper {
  box-sizing: border-box;
  display: grid;
  padding: 0 40px 0 40px;
  width: 100vw;
}
.graph-wrapper section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  align-items: center;
  margin-right: 1%;
  height: 5vh;
}
.graph-wrapper section div {
  left: 40%;
  height: 3vh;
  background-color: #011c40;
}
.graph-wrapper section p {
  text-align: center;
  color: #011c40;
}
